@import 'reset.css';

@font-face {
    font-family: "Lora-Italic";
    src: url("../fonts/Lora-Italic.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lora-Regular";
    src: url("../fonts/Lora-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "helvetica-light";
    src: url("../fonts/helvetica-light.otf") format('opentype');
    font-style: normal;
    font-weight: normal;
}
.conteiner{
  position: absolute;
  margin: calc((50*100%)/1440);
  /* background-color: #D8E0F3; */
}
a{
  color: black;
  text-decoration: none;
}
h1{
  margin-top: 190px;
  font-family: "Lora-Regular";
  font-size: 80px;
}
h2{
  margin-top: 200px;
  margin-left: 8.5%;
  margin-bottom: 56px;
  font-family: "Lora-Italic";
  font-size: 60px;
}
h3{
  font-family: "helvetica-light";
  font-size: 24px;
  display: inline-block;
}
p{
  line-height: 126%;
  font-family: "helvetica-light";
  font-size: 18px;
  margin: 10px;
  height: auto;
}
h4{
  font-family: "helvetica-light";
  font-size: 14px;
}

.menu{
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 89.8%;
  height: 10%;
  outline: 1px dashed black;
  border: 1px solid black;
  outline-offset: -5px;
  background: white;
  padding: 15px;
  padding-left: 30px;
}
.button_in_menu, .icon{
  position: relative;
  display: inline-block;
}
.button_in_menu{
  margin-right: calc((35*100%)/1440);
  margin-top: calc((5*100%)/1440);
  padding: 5px;



}
.button_in_menu:hover{
  outline: 1px dashed black;
  border: 1px solid black;
  outline-offset: -5px;
  padding: 4px;
}
#text1{
  display: inline-block;
  margin-right: 390px;
}
#text2{
  display: inline-block;
  margin-left: 550px;
}
#logo_main{
  margin: 10% 27%;
  width: 46%;
}
.text3{
  margin-top: 56px;
  margin-left: 17%;
  width: 42%;
  height: auto;
}
#semantica_fon{
  background-image: url("../images/setka_vodovorot.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 684px;
}
.height36{
  font-size: 36px;
}
.height48{
  font-size: 48px;
}
.height56{
  font-size: 56px;
}
.word{
  position: absolute;
}
.romantika{
  margin-left: 8.5%;
  padding-top: 118px;
}
.tvorchestvo{
  margin-left: 20%;
  margin-top: 280px;
}
.dushevno{
  margin-left: 0.2%;
  margin-top: 500px;
}
.dostoyno{
  margin-left: 28%;
  margin-top: 400px;
}
.iniciation{
  margin-left: 34.4%;
  margin-top: 570px;
}
.nadezhno{
  margin-left: 41.8%;
  margin-top: 320px;
}
.spokoyno{
  margin-left: 50.3%;
  margin-top: 230px;
}
.otzivchivo{
  margin-left: 50.2%;
  margin-top: 490px;
}
.samozabvenno{
  margin-left: 66.2%;
  margin-top: 146px;
}
.svoboda{
  margin-left: 64%;
  margin-top: 380px;
}
.otvetstvenno{
  margin-left: 71.6%;
  margin-top: 540px;
}
.text_cen{
  width: 22%;
  height: auto;
}
.tx_cen1{
  margin-left: 8.5%;
}
.tx_cen2{
  margin-left: 32%;
}
.tx_cen3{
  margin-left: 56%;
}
.tx_cen4{
  margin-left: 80%;
}
.text_after_logo{
  margin-top: 56px;
}
.text4{
  width: 38%;
  margin-left: 8.5%;
}
#logo2{
  position: absolute;
  margin-left: 76%;
  top: 1%;
}
hr{
  margin-left: 8.5%;
  margin-right: 8.5%;
  margin-top: 30px;
  margin-bottom: 80px;
  border: none;
  border-top: 1px solid #000;
}
.principi{
  margin-left: 8.5%;
  margin-right: 40%;
}
#princ1{
  margin-left: 14%;
}
#princ2{
  margin-left: 5.8%;
}
.mekhanika{
  margin-left: 8.5%;
  width: 20%;
}
.mekh{
  margin-top: 86px;
}
.logo_stroy{
  margin-left: 8.5%;
}
.logo_stroy2{
  margin-left: 15.5%;
}
.podpisi{
  margin-right: 1.5%;
  display: inline-block;
  width: 31%;
}
.podpisi1{
  width: 23%;
  margin-left: 8.5%;
}

.ogranicheniya, .color{
  margin-left: 8.5%;
}
.podpisi-ogran{
  position: relative;
  display: inline-block;
  width: 45%;
  margin-bottom: 2%;
  margin-top: 5%;
}
.podpisi-color{
  position: relative;
  display: inline-block;
  width: 26.5%;
  margin-bottom: 1%;
  margin-top: 2%;
}
.logo_on_list{
  margin-top: 15px;
  margin-right: 1.4%;
}
h2 ~ p{
  width: 45%;
  margin-left: 8.5%;
}
h1 ~ h2{
  margin-top: 6%;
}
section{
  position: relative;
}
.row{
  margin-left: 38%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#Lora-R{
  font-family: "Lora-Regular";
  font-size: 80px;
}
#Lora-I{
  font-family: "Lora-Italic";
  font-size: 60px;
}
#Helvetica-L{
  font-family: "helvetica-light";
  font-size: 18px;
}
.garnitura{
  width: 28%;
  margin-left: 8.5%;
}
.p-setka{
  width: 30%;
}
.setka{
  margin-left: 8.5%;
}
.bold{
  font-weight: bold;
  width: 43%;
}
.setka_img{
  margin-bottom: 3%;
  margin-top: 2%;
}
#setka_text{
  width: 31.5%;
}
#reclama_img{
  margin-bottom: 10%;
}
